= form_for [topic, bookmark] do |f|
  - if bookmark.errors.any?
    #error_explanation
      %h2= "#{pluralize(bookmark.errors.count, "error")} prohibited this bookmark from being saved:"
      %ul
        - bookmark.errors.full_messages.each do |msg|
          %li= msg

  .field.form-group
    = f.label :url
    = f.text_field :url, class: "form-control"
  .field.form-group
    = f.label :name
    = f.text_field :name, class: "form-control"
  .actions
    = f.submit 'Save'
