%h1
  Bookmarks:
  = @topic.name

%table.table
  %thead
    %tr

      %th Url
      %th Name
      %th User
      %th Topic
      %th
      %th
      %th

  %tbody
    - @bookmarks.each do |bookmark|
      %tr{ :id => "bookmark-#{bookmark.id}" }
        %td= bookmark.url
        %td= bookmark.name
        %td= bookmark.user.name
        %td= bookmark.topic.name
        %td= link_to 'Show', topic_bookmark_path(bookmark.topic, bookmark)
        %td= link_to 'Edit', edit_topic_bookmark_path(bookmark.topic, bookmark)
        %td= link_to 'Destroy', topic_bookmark_path(bookmark.topic, bookmark), :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Bookmark', new_topic_bookmark_path
