%p#notice= notice

%p
  %b Url:
  = @bookmark.url
%p
  %b Name:
  = @bookmark.name
%p
  %b User:
  = @bookmark.user.name
%p
  %b Topic:
  = @bookmark.topic.name

= link_to 'Edit', edit_topic_bookmark_path(@topic, @bookmark)
\|
= link_to 'Back', topic_bookmarks_path
